/* Variables */

:root {
   --dark: black;
   --light: #F5F5F5;
   --lighter: white;
   --l-blue-: lightblue;
   --d-blue-: blue; 
   --primary: #0061FF;
   --secondary: #B4D0F7;
   --accent: #61082B;
}

/* Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.fas {
    color: var(--dark);
}




/* Debug assegnare a body, inserendo colori ed altezze fisse degli elementi sottostanti */

.debug #navbar {
    height: 82px;
    background-color: blueviolet;
}

.debug .container_large {
    height: 500px;
    background-color: brown;
}

/* Utility */

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
}

.space-top {
    margin-top: 2rem;
}

.space-bottom {
    margin-top: 2rem;
}


.container_large {
    width: 1100px;
    margin: 0 auto;  
}

.container_small {
    width: 800px;
  /*   height: 800px; da inserire in debug*/
    margin: 0 auto;
  /*   background-color: aquamarine; da inserire in debug */
}

.container_full {
    width: 100%;
/*     height: 700px;
    background-color: chartreuse; da inserire in debug */
}

.cl-icon {
    width: 10%;
    float: left;
}

.cl-text {
    width: 90%;
    float: left;
}

.cl-32 {
    width: 32%;
    height: 800px;
    /* 
    background-color: orange;  regole da inserire in debug. Valutare se altezza fissa vada lasciata*/
    float: left;
    border: 1px solid var(--l-blue-);
}

.cl_32space {
    margin-left: 15px;
}

.cl-100 {
    width: 100%;
/*     height: 200px;
    background-color: yellow; da inserire in debug*/
    float: left;
    border: 1px solid var(--l-blue-);
    margin-top: 2rem;
}

.cl-60 {
    width: 470px;
/*     height: 800px;
    background-color: darkcyan; da inserire in debug */
    float: left;
}

.cl_60space {
    margin-right: 15px;
}

.cl-40 {
    width: 310px;
/*     height: 800px;
    background-color: darkcyan; da inserire in debug */
    float: left;
}

.cl-50 {
    width: 50%;
    float: left;
}

.cl-30 {
    width: 240px;
/*     height: 390px;
    background-color: purple; da inserire in debug*/
    float: left;
}

.cl_30space {
    margin-left: 20px;
   /*  margin-top: 5px; */
}

.cl-80 {
    width: 700px;
   /*  height: 100px; da inserire in debug */
    float: left;
   /*  background-color: green; da inserire in debug */
    line-height: 80px;
}

.cl-20 {
    width: 100px;
  /*   height: 100px; da inserire in debug */
    float: right;
   /*  background-color: darkmagenta; da inserire in debug */
    line-height: 80px;
    text-align: center;
    
}
/***********
 Header
 ***********/
#site_header {
    width: 100%;
}

/* Navbar */

.menu_left a, .menu_right a {
    text-decoration: none;
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
}

.menu_left li, .menu_right li {
    display: inline-block;
    margin-left: 1rem;
}

#navbar .logo_brand {
    line-height: 32px;
    float: left;
    padding: 1rem;
}

.logo_brand>img {
    vertical-align: sub;
}

#navbar .menu_left {
    line-height: 62px;
    float: left;
    padding: 0 1rem;
    
}

#navbar .menu_right {
    line-height: 62px;
    float: right;
    padding: 0 1rem;
}

#navbar .cta_start {
    line-height: 62px;
    float: right;
    padding: 0 1rem;
}

.cta_start > a {
    text-decoration: none;
    color: var(--light);
    font-size: 15px;
    font-weight: 500;
}

.btn {
    background-color: var(--primary);
    padding: 0.3rem 1rem;
    color: var(--lighter);
}

/* Jumbo */

#jumbo_work {
    height: 580px;
    background-color: var(--secondary);
}

h1.jumbo_maintext {
    font-size: 62px;
    color: var(--dark);
    padding: 4rem 0 2rem 0;
}

#jumbo_text {
    float: left;
    width: 40%;
}

#jumbo_image {
    float: left;
    width: 60%;
}

#jumbo_image>img {
    max-width: 100%;
}

#jumbo_text>.text_spacing {
    width: 70%;
}

.text_spacing>p:first-child {
    font-size: 13px;
}

.text_spacing>p:last-of-type {
    font-size: 11px;
    margin-top: 0.5rem;
    
}

.text_spacing>a {
    display: inline-block;
    margin-top: 1rem;
    font-size: 12px;
}

.text_spacing>div {
    font-size: 30px;
    font-weight: 900;
    margin-top: 0.5rem;
}




/***********
 Main
 **********/
.bg_price {
    margin: 7rem 0;
}

#info_business {
    height: 110px;
  /*   background-color: bisque; da inserire in debug */
}

#info_business>h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.billing>span {
    vertical-align: sub;
    font-size: 12px;
    font-weight: 500;
    margin-right: 5px;
}

input[type="radio"]{
    vertical-align: middle;
    border: 0px;
    width: 15px;
    height: 15px;
}

.user_specify {
    border-bottom: 1px solid var(--l-blue-);
    text-align: center;
    font-size: 13px;
    padding: 0.5rem 0;
}

.typology_path {
    margin-top: 1.5rem;
    padding: 0 1.5rem;
}

.price {
    display: block;
    margin-top: 1rem;
    font-size: 12px;
}

.billing_period {
    color: lightgray;
    font-size: 12px;
}

.billing_perks {
    margin-top: 1.5rem;
    font-size: 12px;
    font-weight: 500;
}

.top_path>p {
    font-size: 12px;
    margin: 1rem 0;
    font-weight: 500;
}

.try_it {
    margin: 2rem 0 1.5rem 0;
    text-align: center;
}

.try_it>a {
    font-size: 12px;
    display: block;
    width: 100%;
}

.top_path>p>a {
    text-decoration: underline;
    margin-bottom: 1rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.top_path>hr {
    border: 1px solid lightgray;
    width: 25%;
}

.bottom_path {
    margin-top: 1.5rem;
}



.bottom_path>ul {
    list-style: none;
    margin-top: 1rem;  
}

.bottom_path li {
    margin: 0.8rem 0;
    font-size: 12px;
   
}

li > .blue_check {
    color: var(--primary);
    font-weight: 600;
}

.team_textposition {
    width: 70%;
    float: left;
    padding: 1rem;
}

.team_textposition>p:first-of-type {
    font-size: 13px;
    margin-top: 0.5rem;
}

.team_textposition>p:last-of-type {
    font-size: 10px;
    margin: 0.5rem 0;
}

.btn_position {
    width: 30%;
    float: left;
    position: relative;
}

.btn_absolute {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    font-size: 12px;
    width: 100%;
}

.btn_absolute>a {
    padding: 0.3rem 3rem;
}

/* section bg_dropcontact */

.bg_dropcontact {
    margin: 5rem 0;
}

.contact_image>img {
    max-width: 100%;
}

.contact_text {
    padding: 2rem;
}

.contact_text>p {
    font-size: 12px;
    margin: 1rem 0;
    font-weight: 500;
}

.contact_text>a {
    background-color: var(--lighter);
    color: var(--dark);
    font-size: 12px;
    border: 1px solid black;
    font-weight: 500;
}

/* section bg_dropbusiness */
.container_small>h2 {
    margin-bottom: 2rem;
}

.tool_image>img {
    max-width: 100%;
}

.tool_text>p {
    margin: 1rem 0;
    font-size: 12px;
    font-weight: 500;
}

.tool_text>p>a {
    color: var(--dark);
    text-decoration: underline;
}

/* section bg_dropteam */

.bg_dropteam {
    margin: 10rem 0 2rem 0;
}

.dropteam_text>h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.dropteam_text>a {
    font-size: 12px;
    color: var(--primary);
    text-decoration: underline;
    font-weight: 600;
}

/* /section bg_dropteam */



.cl_full-30 {
    width: 30%;
    height: 400px;
    background-color: red;
    float: left;
}

.agency_join {
    width: 50%;
    height: 50%;
   /*  background-color: green; */
}

.designit {
    background-color: lightgreen;
    position: relative;
}

.asu {
    background-color: var(--accent);
    position: relative;
}


.florida {
    background-color:rgb(98, 200, 235);
    position: relative;
}


.topps {
    background-color:red;
    position: relative;
}

.designit>img, 
.asu>img, 
.florida>img, 
.topps>svg {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter:  invert(1);
}

.bicycle {
    background-color: rgb(197, 2, 2);
    position: relative;
}

.hearst {
    background-color: var(--secondary);
    position: relative;
}

.lonely {
    background-color: blue;
    position: relative;
}

.clear {
    background-color: rgb(240, 240, 12);
    position: relative;
}

.bicycle>img,
.hearst>img,
.lonely>img,
.clear>img {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter:  invert(1);
}



.cl_full-40 {
    width: 40%;
    height: 400px;
    background-color: var(--light);
    float: left;
    padding: 2.5rem;
}

.cl_full-40>img {
    max-width: 20%;
}

.cl_full-40>hr:first-of-type {
    max-width: 20%;
}

.cl_full-40>hr:last-of-type {
    max-width: 10%;
    margin-top: 2rem;
    border: 1px solid lightgray;
    background-color: rgba(211, 211, 211, 0.835);
}

.cl_full-40>p {
    font-size: 14px;
    margin: 2rem 0;
}

.cl_full-40>span {
    font-size: 15px;
}



.cl_full-100 {
    width: 100%;
   /*  height: 300px; da inserire in debug */
    background-color: var(--secondary);
    float: left;

}

.cl-50>h2 {
    font-size: 30px;
    margin: 6rem auto ;
    color: var(--accent);
}

.cl-50>a {
    display: inline-block;
    font-size: 13px;
    margin: 6rem 0 0 9rem;
    background-color: white;
    color: var(--dark);
}

/* section bg_faq */

.bg_faq {
    margin: 6rem 0;
}

.faq>h2 {
    font-size: 30px;
    margin-bottom: 2rem;
}

.faq h4 {
    font-size: 15px;
    margin-bottom: 0;
    vertical-align: middle;
}

.faq span {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}


/**********
 Footer
 **********/
.bg_footer {
    background-color: black;
    margin: 2rem 0 0 0;
    padding: 3rem 6rem;
}

.cl_footer-20 {
    width: 20%;
  /*   height: 500px; */
   /*  background-color: yellow; */
    float: left;
 }
 
 .cl_footer-20space {
     margin: 0 0.5;
 }

 .cl_footer-20>h5 {
    color: var(--lighter);
    font-size: 20px;
 }

 .cl_footer-20 a {
    color: var(--lighter);
    font-size: 10px;
 }

 .footer_bottom {
     margin-top: 6rem;
 }

 .footer_bottom>hr {
    max-width: 5%;
 }


 #language_selection {
     width: 100px;
     height: 50px;
    /*  background-color: cadetblue; inserire in Debug */
     margin: 3rem 0 0 0;
     color: rgba(255, 255, 255, 0.514);
     font-size: 13px;
 }
