/* Variables */

:root {
   --dark: black;
   --light: #F5F5F5;
   --lighter: white;
   --l-blue-: lightblue;
   --d-blue-: blue; 
   --primary: #0061FF;
   --secondary: #B4D0F7;
   --accent: #61082B;
}

/* Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}



/* Debug assegnare a body, inserendo colori ed altezze fisse degli elementi sottostanti */

.debug #navbar {
    height: 82px;
    background-color: blueviolet;
}

/* Utility */

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
}

.container_large {
    width: 1100px;
    height: 500px;
    margin: 0 auto;
    background-color: brown;
}

.container_small {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    background-color: aquamarine;
}

.container_full {
    width: 100%;
    height: 700px;
    background-color: chartreuse;
}

.cl-25 {
    width: 260px;
    height: 600px;
    background-color: orange;
    float: left;
}

.cl_25space {
    margin-left: 9px;
}

.cl-100 {
    width: 800px;
    height: 200px;
    background-color: yellow;
    float: left;
}

.cl-60 {
    width: 470px;
    height: 800px;
    background-color: darkcyan;
    float: left;
}

.cl_60space {
    margin-right: 15px;
}

.cl-40 {
    width: 310px;
    height: 800px;
    background-color: darkcyan;
    float: left;
}

.cl-30 {
    width: 240px;
    height: 390px;
    background-color: purple;
    float: left;
}

.cl_30space {
    margin-left: 20px;
    margin-top: 5px;
}

.cl-80 {
    width: 700px;
    height: 100px;
    float: left;
    background-color: green;
}

.cl-20 {
    width: 100px;
    height: 100px;
    float: right;
    background-color: darkmagenta;
}
/***********
 Header
 ***********/
#site_header {
    width: 100%;
}

.menu_left a, .menu_right a {
    text-decoration: none;
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
}

.menu_left li, .menu_right li {
    display: inline-block;
    margin-left: 1rem;
}

#navbar .logo_brand {
    line-height: 32px;
    float: left;
    padding: 1rem;
}

.logo_brand>img {
    vertical-align: sub;
}

#navbar .menu_left {
    line-height: 62px;
    float: left;
    padding: 0 1rem;
    
}

#navbar .menu_right {
    line-height: 62px;
    float: right;
    padding: 0 1rem;
}

#navbar .cta_start {
    line-height: 62px;
    float: right;
    padding: 0 1rem;
}

.cta_start > a {
    text-decoration: none;
    color: var(--light);
    font-size: 15px;
    font-weight: 500;
}

.btn {
    background-color: var(--primary);
    padding: 0.3rem 1rem;
}

/* Jumbo */


#jumbo_work {
    height: 500px;
    background-color: var(--secondary);
}




/***********
 Main
 **********/
.bg_price {
    margin: 5rem 0;
}

.bg_dropcontact {
    margin: 10rem 0;
}

#info_business {
    height: 100px;
    background-color: bisque;
}


.bg_dropteam {
    margin: 2rem 0;
}


.cl_full-25 {
    width: 365px;
    height: 400px;
    background-color: red;
    float: left;
}

.cl_full-50 {
    width: 665px;
    height: 400px;
    background-color:blue;
    float: left;
}

.cl_full-100 {
    width: 1400px;
    height: 300px;
    background-color: aqua;
    float: left;

}

.bg_faq {
    margin: 3rem 0;
}

/**********
 Footer
 **********/
.bg_footer {
    background-color: black;
    margin: 2rem 0;
}


 .cl_footer-20 {
    width: 175px;
    height: 500px;
    background-color: yellow;
    float: left;
 }
 
 .cl_footer-20space {
     margin: 0 2px;
 }

 #language_selection {
     width: 200px;
     height: 100px;
     background-color: cadetblue;
 }
